<a href="https://colab.research.google.com/github/uplearni/CreditLimitReccomender/blob/main/CreditLimitProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#libraries

#for data manipulation
import pandas as pd;
import numpy as np;
import io
import warnings
warnings.filterwarnings('ignore')

#for data visualisation
import matplotlib.pyplot as plt;
import seaborn as sns;
from matplotlib.cbook import boxplot_stats

#for data modelling
#for splitting data
from sklearn.model_selection import train_test_split
#models
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
#for model evaluation
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
#for model preprocessing
from sklearn.preprocessing import PowerTransformer
#for statistical analysis
import statsmodels.api as sm

In [12]:
# importing dataset
url = 'https://raw.githubusercontent.com/uplearni/CreditLimitReccomender/main/Credit_Card_Dataset.csv'
Credit_Data = pd.read_csv(url)

In [21]:
# Data Cleaning

# different datasets use different symbols for null so we just replace them all with numpy nan
Credit_Data=Credit_Data.replace(r'^#NULL!S',np.nan,regex=True)

#filtering rows with any missing value
Credit_Data[Credit_Data.isna().any(axis=1)]

#drop rows with missing values
Credit_Data2=Credit_Data.dropna()
#checking
Credit_Data2[Credit_Data2.isna().any(axis=1)]

#print(Credit_Data2.columns)

#we dont need unique id , attrition flag or the random numbers so remove them
Credit_Data2=Credit_Data2.drop(columns=["Random_numbers","Attrition_Flag","CLIENTNUM"], errors='ignore')

#checking the number of duplicates rows
print("No of duplicate rows= ",Credit_Data2.duplicated().sum())
#what are those duplicated rows
Credit_Data2[Credit_Data2.duplicated()]
#dropping them
Credit_Data2.drop_duplicates(inplace=True)
print("No. of rows after duplicates were dropped= ",Credit_Data2.duplicated().sum())

No of duplicate rows=  1
No. of rows after duplicates were dropped=  0

In [22]:
#cleaned data
display(Credit_Data2)
Credit_Data2.shape

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Credit_Limit,Avg_Utilization_Ratio,Pay_on_time
0,45,female,3,secondary,married/living with partner,<30k,blue,36,3544.0,0.469,no
1,46,male,3,third level,divorced,71 – 110k,blue,38,8258.0,0.214,no
2,34,female,2,primary,single,<30k,blue,24,1438.3,0.000,yes
3,32,female,0,third level,married/living with partner,<30k,blue,19,2834.0,0.500,no
4,37,female,2,secondary,single,<30k,blue,36,5723.0,0.327,no
...,...,...,...,...,...,...,...,...,...,...,...
7293,41,female,3,third level,married/living with partner,<30k,blue,37,1438.3,0.532,no
7294,50,male,0,primary,married/living with partner,51 – 70k,blue,46,3640.0,0.181,no
7295,38,male,3,third level,single,51 – 70k,blue,34,12050.0,0.151,no
7296,49,female,3,secondary,married/living with partner,<30k,blue,45,2951.0,0.826,no
7297,54,male,4,third level,married/living with partner,111k+,blue,50,2872.0,0.709,no

(7297, 11)